:root {
    --primary: #ffffff;
    --pink-clr: #f59eac;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
    --deep-shadow: 0px 20px 20px 1px rgba(44, 44, 44, 0.5);
    --light-shadow: 0px 20px 20px -13px rgba(44, 44, 44, 0.5);
    --progressbar-transition: all linear 1s;
    --standard-transition: linear 0.4s;
    --green: green;
    --animate-card: all ease-in .34;
    --red: red;
    --white: rgb(72, 72, 72);
    --black: black;
    --scrollbarBG: hsla(5, 100%, 33%, 0.05);
    --thumb-bg: hsla(180, 1%, 16%, 0.5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    zoom: reset;
    overflow: hidden;
    color: var(--secondary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgb(26, 26, 26);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* .btn:focus,
.btn:hover,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
} */

#main__wrapper {
    position: relative;
    overflow-y: auto;
    height: 92vh;
    transition: var(--animate-card);
}

li>a,
a {
    text-decoration: none !important;
}

.hide {
    display: none !important;
}

.hide_2 {
    opacity: 0 !important;
    transition: .2s;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    -webkit-transition: var(--standard-transition);
    transition: var(--standard-transition);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg);
    -webkit-transition: var(--standard-transition);
    transition: var(--standard-transition);
}

.log___in,
.sign___up,
.update___password {
    position: absolute;
    top: 41%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    max-width: 800px;
    transition: .5s;
    border-radius: .4rem;
    -webkit-animation: animatepages 1 forwards ease-in .5s;
    animation: animatepages 1 forwards ease-in .5s;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

@-webkit-keyframes animatepages {
    to {
        top: 40%;
        opacity: 1;
    }
}

@keyframes animatepages {
    to {
        top: 40%;
        opacity: 1;
    }
}

#login___form,
#signup_form {
    transition: all ease-in .4s !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    border-radius: .4rem !important;
}

.form-control {
    border: none;
}

#search____input {
    padding: .5rem;
    background-image: unset;
    background-image: linear-gradient(to top, hwb(0 10% 70% / 0.1) 0%, hwb(216 45% 45% / 0.1) 100%);
}


.img__conta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 1s;
    z-index: -1;
    overflow: hidden;
}

.img__conta img {
    width: 100%;
    height: 100%;
    transform: translateX(-10%);
    -o-object-fit: cover;
    object-fit: cover;
    transition: opacity 0.5s;
    opacity: 0;
}

.in_image_anime {
    -webkit-animation: handleImageSlide 4s forwards ease-in-out;
    animation: handleImageSlide 4s forwards ease-in-out;
}

@-webkit-keyframes handleImageSlide {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    80% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(10%);
        opacity: 0;
    }
}

@keyframes handleImageSlide {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    80% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(10%);
        opacity: 0;
    }
}

#innerBody {
    min-width: 100vw;
    height: 100vh;
    padding: unset !important;
    margin: unset !important;
}

#carocel_big {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden !important;
}

.carocel_big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.del_effect {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.1s;
    opacity: 1;
    -webkit-animation: dele-item 1 ease-in forwards 0.1s;
    animation: dele-item 1 ease-in forwards 0.1s;
}

@-webkit-keyframes dele-item {
    to {
        -webkit-clip-path: polygon(49% 48%, 49% 48%, 49% 48%, 49% 48%);
        clip-path: polygon(49% 48%, 49% 48%, 49% 48%, 49% 48%);
        opacity: 0;
    }
}

@keyframes dele-item {
    to {
        -webkit-clip-path: polygon(49% 48%, 49% 48%, 49% 48%, 49% 48%);
        clip-path: polygon(49% 48%, 49% 48%, 49% 48%, 49% 48%);
        opacity: 0;
    }
}

.del_btn_cont {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 40px;
    height: 40px;
    padding: 0.1.2rem;
    border-radius: 0.3rem;
    z-index: 3000;
    display: grid;
    cursor: pointer;
    place-content: center;
}

.del_btn_cont button {
    font-weight: 500;
    z-index: 5000;
    cursor: pointer;
    color: red;
}

.main-del-cont {
    position: absolute;
    bottom: 1%;
    right: 1%;
    z-index: 1000000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
    border-radius: 0.4rem;
    border-radius: 0.2rem;
    padding: 0.2rem;
    transition: 0.1s;
    cursor: pointer !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.main-del-cont i {
    font-size: 2rem;
    color: #9f9e9e;
    z-index: 1000;
    opacity: 0.5;
    text-shadow: 1px 1px 1px rgb(76, 76, 76);
}

.main-del-cont:hover i {
    opacity: 1;
    cursor: pointer;
    transition: all 0.1s;
    color: #b8b8b8;
}

.main-del-cont:active i {
    transform: scale(0.89);
}

@media screen and (max-width: 759px) {

    .nav-item a,
    .login_btn,
    .signup_btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 482px) {

    .prev__btn span,
    .next__btn span {
        font-size: 2rem !important;
    }

    .back-to-top {
        width: 50px !important;
        height: 50px !important;
    }

    .main___alert {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw !important;
        text-align: center;
    }
}

.back-to-top {
    position: fixed;
    bottom: -100px;
    right: 10px;
    width: 55px;
    height: 55px;
    z-index: 100000 !important;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    color: rgba(255, 255, 255, 0.4);
    font-size: 30px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s;
    box-shadow: 0px 2px 4px rgba(187, 187, 187, 0.2);
}

.show-to-top-btn {
    -webkit-animation: moveUpDown 1 forwards ease-in 0.5s;
    animation: moveUpDown 1 forwards ease-in 0.5s;
}

@-webkit-keyframes moveUpDown {
    to {
        bottom: 10px;
    }
}

@keyframes moveUpDown {
    to {
        bottom: 10px;
    }
}

.back-to-top:hover {
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 4px rgba(187, 187, 187, 0.2);
}

.main___alert {
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    position: fixed;
    left: -50%;
    bottom: -2% !important;
    opacity: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    transition: all 0.3s;
    -webkit-animation: notice-wrapper 4.5s forwards ease-in-out;
    animation: notice-wrapper 4.5s forwards ease-in-out;
}

@-webkit-keyframes notice-wrapper {
    10% {
        left: 0%;
        opacity: 1;
    }

    80% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

@keyframes notice-wrapper {
    10% {
        left: 0%;
        opacity: 1;
    }

    80% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

.nav-item {
    border-radius: 0.3rem;
    margin: 0.1rem;
    background-color: rgba(52, 52, 52, 0.4);
    border: 2px solid transparent;
    transition: 0.3s;
}

.nav-item:hover {
    background-color: rgba(52, 52, 52, 0.6);
    border: 2px solid rgba(145, 145, 145, 0.3);
}

.carucel___main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 2500;
    -o-object-fit: contain;
    object-fit: contain;
    border: 1rem solid rgb(22, 22, 22);
    overflow: hidden !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.close_bigimg_caru {
    position: fixed;
    top: 0%;
    right: 0%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    color: white;
    opacity: 0.5;
    z-index: 3000;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(57, 57, 57, 0.4);
    font-size: 1.9rem;
}

.close_bigimg_caru:hover {
    color: red;
    cursor: pointer;
    opacity: 1;
}


#uploadForm {
    position: fixed;
    bottom: 10%;
    left: 50%;
    min-width: 50%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1000;
    border-radius: .5rem;
    padding: .4rem;
    gap: 6px;
    background-color: rgb(128, 128, 128, .1);
    max-height: 40% !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_inputs .form-control {
    background-color: rgba(112, 112, 112, 0.3);
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: white;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    border: 2px solid #ccc !important;
}

textarea:focus {
    border: 2px solid #ccc !important;
}

.label_class {
    position: fixed !important;
    top: 4% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 50%;
    opacity: .3;
    transition: opacity .3s;
}

.label_class:hover {
    opacity: .8;
}


.label-class:hover {
    opacity: 1;
}

#showForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--deep-shadow);
}

.label_class .label span {
    position: relative;
    /* display: flex;
        justify-content: center;
        align-items: center; */
    color: var(--green);
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 2.5rem;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
}

.label_class .label:hover {
    background: transparent;
    color: var(--red);
}

.label_class .label span {
    background: var(--primary);
    color: var(--green);
    width: 80%;
    height: 80%;
}

.label_class .label:hover span {
    background: var(--primary);
    color: var(--red);
    width: 80%;
    height: 80%;
}

.label_class .label:active span {
    transform: scale(0.89);
}

#off__Container {
    overflow: auto;
    height: 93vh;
    display: flex;
    transition: 0.5s ease-in-out !important;
    overflow-x: auto;
}

.sm-card {
    flex: 0 0 auto;
}



#notifications {
    position: fixed !important;
    top: 0% !important;
    left: 50% !important;
    transform: translate(-50%, 1%) !important;
    z-index: 2000 !important;
    min-width: 30%;
    border: 1px solid transparent;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-top: -10%;
    padding-bottom: 0% !important;
    padding-top: .5rem !important;
    transition: all .2s;
    border-bottom-color: transparent !important;
}

.showNotification {
    -webkit-animation: snimate_notific 1 forwards ease-out .2s;
    animation: snimate_notific 1 forwards ease-out .2s;
}

@-webkit-keyframes snimate_notific {
    to {
        margin-top: 0%;
        opacity: 1 !important;
    }
}

@keyframes snimate_notific {
    to {
        margin-top: 0%;
        opacity: 1 !important;
    }
}

.loader {
    position: relative;
    width: 150px;
    height: 150px;
    padding: 1rem;
    border-radius: 50%;
    text-shadow: 1px 1px black;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #cdcccc inset;
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.doc-column {
    min-height: 30vh !important;
    overflow: hidden !important;
    transition: width .3s;
    opacity: 1;
}

.delet-transition {
    -webkit-animation: shrinker 1 forwards ease-in .5s;
    animation: shrinker 1 forwards ease-in .5s;
}

@-webkit-keyframes shrinker {
    to {
        width: 0%;
        opacity: 0;
    }
}


@keyframes shrinker {
    to {
        width: 0%;
        opacity: 0;
    }
}

.doc-column.sm-card {
    max-height: 50%;
    min-height: 50%;
}

.doc-column.sm-card .doc--card {
    display: grid;
    place-content: center;
    align-items: center;
}

.doc--card {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    overflow: hidden !important;
    border: 5px solid #7e7e7e1a;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    opacity: 1;
    transition: opacity .7s;
}

.img_card {
    -o-object-fit: cover !important;
    object-fit: cover !important;
    border: .2rem solid red;

}

.heading {
    position: relative;
    font-size: 23px;
    text-transform: uppercase;
    opacity: .8;
    text-shadow: 2px 3px 1px rgba(252, 248, 248, 0.4) !important;
}


.glassy {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#search____input {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
    color: var(--red);
    width: 100%;
    z-index: 1;
    cursor: pointer;
    transition: .5s;
}

.img-container {
    border: 3px solid transparent;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: .2rem;
    overflow: hidden;
    transition: var(--animate-card);
    background-size: cover;
    -o-object-fit: contain;
    object-fit: contain;
    transition: .3s !important;
}


.img-container img {
    transition: .3s;
    border-radius: .4rem;
}

.card:hover {
    cursor: pointer;
    opacity: 1;
}

.card:hover .img-container img {
    transform: scale(1.03119);
    transition: .3s;
}

.doc-card-body:empty+.card-footer {
    display: none;
}

.prof-notif-btn {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: .3rem;
    min-width: 100px;
}

.doc-card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: max-height .5s, opacity .3s;
    max-height: 0;
    opacity: 0;
    overflow-y: auto !important;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(6, 6, 6, 0.5);
}

.doc-column:hover .doc-card-body {
    max-height: 25vh;
    opacity: 1;
}

.description_cont {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-height: 40%;
    color: rgb(255, 255, 255, .7);
    padding: .5rem;
    border-radius: .2rem;
    overflow: hidden auto;
    background-color: rgba(50, 50, 50, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all .3s;
}

.modaal_cont {
    opacity: 0 !important;
}

#prof_body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    padding: unset;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    opacity: 1;
}

.prof-bad {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    border: unset;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: transparent !important;
    box-shadow: unset;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: rgb(46, 46, 46);
    opacity: 0.8;
    z-index: 999;
}

.backdrop img {
    position: absolute;
    display: block;
    max-width: 60%;
    min-width: 60%;
    min-height: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    border-radius: 0.2rem;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border: 6px solid transparent !important;
    outline: 4px solid rgb(228, 227, 227);
}

.big_spinnerr {
    background-color: transparent;
    border: transparent;
    min-width: 100%;
    overflow: hidden;
}

.skeleton {
    display: grid;
    place-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 50% !important;
    z-index: 10;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(10px) grayscale(100%);

    transform: translateX(-100%);
    -webkit-animation: waveAnimation 1.5s linear infinite;
    animation: waveAnimation 1.5s linear infinite;
}


@-webkit-keyframes waveAnimation {
    0% {
        transform: translateX(-100%);
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .5;
    }

    100% {
        transform: translateX(100%);
        background-color: rgba(255, 255, 255, 0.07);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .2;
    }
}

@keyframes waveAnimation {
    0% {
        transform: translateX(-100%);
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .5;
    }

    100% {
        transform: translateX(100%);
        background-color: rgba(255, 255, 255, 0.07);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .2;
    }
}

.download-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000 !important;
    padding: .1rem;
    text-align: center;
    cursor: cell;
    margin: auto;
    border-radius: .1rem;
    color: #9f9e9e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(76, 76, 76);
}

.download-btn:hover {
    cursor: pointer;
    color: var(--red)
}

.doc_delete_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    z-index: 2000;
    border: 2px solid;
    border-color: transparent #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}


.doc_delete_loader::after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    border: 24px solid;
    border-color: transparent rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-descriptions {
    border-radius: 0.4rem;
    position: fixed;
    top: auto;
    bottom: -5%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    z-index: 50;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: background-color, transform 0.3s ease;
    -webkit-animation: bring-in-form 1 forwards ease-in-out .4s;
    animation: bring-in-form 1 forwards ease-in-out .4s;
}


#mwesi-wrapper {
    background-color: transparent;
    padding: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.mwesigwa_link {
    opacity: 0;
    transition: all .3s;
    -webkit-animation: nav_item_in 1 forwards ease-in .5s;
    animation: nav_item_in 1 forwards ease-in .5s;
}

.mwesigwa__wrap {
    border-radius: .4rem;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition: all .2s;
    padding: 0;
    gap: .6rem !important;
    border: 2px solid #363636b3 !important;
    min-height: 482px !important;
    transition: transform .1s;
    overflow: hidden;
}

.mwesigwa__wrap:hover {
    transition: all .1s;
    border-color: #484747cd
}

#sub_switch {
    min-width: 100% !important;
}

.dele_btn,
.subscribe_btn,
.btn-group>button {
    border: 1px solid #3a3a3ab3 !important;
    opacity: .7;
    outline-color: transparent !important;
}

.adm_badge {
    border: 1px solid #3a3a3ab3;
}

.count_badge {
    border: 1px solid transparent;
    size: 10px;
    text-align: center;
    overflow: hidden;
}

.nimate-del-profile {
    -webkit-animation: delet-user-anime 1 forwards ease-in .1s;
    animation: delet-user-anime 1 forwards ease-in .1s;
}


@-webkit-keyframes delet-user-anime {
    to {
        -webkit-clip-path: inset(50% 51% 50% 49%);
        clip-path: inset(50% 51% 50% 49%);
    }
}


@keyframes delet-user-anime {
    to {
        -webkit-clip-path: inset(50% 51% 50% 49%);
        clip-path: inset(50% 51% 50% 49%);
    }
}

.mwesigwa__wrap>.list-group {
    font-size: medium;
}

@-webkit-keyframes nav_item_in {
    to {
        opacity: 1;
    }
}



@keyframes nav_item_in {
    to {
        opacity: 1;
    }
}


@-webkit-keyframes bring-in-form {
    to {
        bottom: 1%;
        opacity: 1;
    }
}

@keyframes bring-in-form {
    to {
        bottom: 1%;
        opacity: 1;
    }
}

.image-descriptions input {
    padding: 10px;
    width: 100%;
    border-radius: .4rem;
    border: 2px solid #ccc;
    box-sizing: border-box;
    outline: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color, outline 0.3s ease;
}

.image-descriptions input:focus {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color, outline 0.3s ease;
}

.image-descriptions input:focus-within {
    outline: rgb(135, 135, 135) 2px solid;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 1213px) {
    .image-descriptions {
        border-radius: 0.4rem;
        position: fixed;
        bottom: -5%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 90%;
        padding: 5px;
        transition: transform, opacity 0.3s ease-in-out;
    }

    @-webkit-keyframes bring-in-form {
        to {
            bottom: 5%;
            opacity: 1;
        }
    }

    @keyframes bring-in-form {
        to {
            bottom: 5%;
            opacity: 1;
        }
    }

}

@media screen and (max-width: 769px) {
    .backdrop img {
        min-width: 90%;
        min-height: 70%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .description_cont {
        width: 100%;
    }

    #uploadForm {
        width: 90%;
        height: 70%;
    }

    .mwesigwa__wrap {
        min-width: 100% !important;
    }
}

@media screen and (max-width: 447px) {

    .log___in,
    .sign___up,
    .update___password {
        background-image: unset;
    }
}

@media screen and (max-width: 400px) {

    .heading {
        font-size: 20px;
    }

    @media screen and (max-width: 351px) {
        .heading {
            font-size: 15px;
        }
    }
}